---
import Post from "./Post.astro";

interface Props {
  frontmatter: {
    title: string;
    direct_link: string;
  };
  date: string;
}

const { frontmatter, date } = Astro.props;
---

<Post
  section_title="PolyWolf on Security"
  home_link="/cybersec/"
  title={frontmatter.title}
>
  <h1>
    {frontmatter.title}
  </h1>
  <p
    >Posted on {date}: <a href={frontmatter.direct_link}
      >{frontmatter.direct_link}</a
    >
    <slot />
  </p>
</Post>
