---
import Post from "./Post.astro";

interface Props {
  frontmatter: {
    title: string;
    repost_link: string;
  };
  date: string;
}

const { frontmatter, date } = Astro.props;
---

<Post
  sectionTitle="PolyWolf on Security"
  homeLink="/cybersec/"
  title={frontmatter.title}
>
  <h1>
    {frontmatter.title}
  </h1>
  <p
    >Posted on {date}: <a href={frontmatter.repost_link}
      >{frontmatter.repost_link}</a
    >
    <slot />
  </p>
</Post>
