---
import Page from '../../templates/page.astro';
import ArtWithClickthrough from '../../components/art/art_with_clickthrough.svelte';
import ArtWithDesc from '../../components/art/art_with_desc.astro';
import TwitterLink from '../../components/twitter_link.svelte';

import i2022_09_sniper from './images/2022-09-sniper.png';
import i2022_08_snow from './images/2022-08-snow.jpg';
import i2022_08_dakimakura from './images/2022-08-dakimakura.jpg';
import i2022_07_legs_spread from './images/2022-07-legs-spread.png';
import i2022_07_fila from './images/2022-07-fila.png';
import i2022_07_techwear from './images/2022-07-techwear.png';
import i2022_07_baseball from './images/2022-07-baseball.jpg';
import i2022_06_collar from './images/2022-06-collar.jpg';
import i2022_03_lewd from './images/2022-03-lewd.png';
import i2022_01_pfp from './images/2022-01-pfp.png';
import i2021_12_shadow from './images/2021-12-shadow.png';
import i2021_06 from './images/2021-06.png';
import i2020_12 from './images/2020-12.png';
import i2018_04 from './images/2018-04.png';
import i2017_12_desktop from './images/2017-12-desktop.png';
import i2017_12_mobile from './images/2017-12-mobile.png';
---

<Page title="Art" description="Collection of art references for me, PolyWolf! I put all my commisions here, as well as the occasional art I do myself :)">
  <p>All artwork is in chronologically descending order.</p>
  <h2>"Current" PolyWolf</h2>
  <p>These are references for me, the wolfgirl who made this website!</p>
  <ArtWithDesc src={i2022_09_sniper} title="watch out she's got a gun!!">
    Comm by <TwitterLink username="19Vodnik" />, they did a great job with the ghillie suit design! I am holding a <a href="https://en.wikipedia.org/wiki/Remington_MSR">Remington MSR</a> in this picture
  </ArtWithDesc>
  <ArtWithDesc src={i2022_08_snow} title="such great brushwork">
    Comm by <TwitterLink username="RamenNamenn" />, I love their brushwork and color choices, this is pretty much exactly my official colors :) They did a great job of adapting my pose request too!
  </ArtWithDesc>
  <ArtWithDesc src={i2022_07_fila} title="Lovely summer wear!">
    Comm by <TwitterLink username="kayadesu_yo" />, such great texture and soft lighting, very colorful (I may have gone overboard on the requested outfit colors lol). This is my current pfp!
  </ArtWithDesc>
  <ArtWithDesc src={i2022_07_techwear} title="GREAT atmosphere">
  Comm by <TwitterLink username="daanboii" />, great outfit design, love the atmosphere and color choices in this piece. They have a great artistic vision :)
  </ArtWithDesc>
  <ArtWithDesc src={i2022_07_baseball} title="So sporty!!">
  Comm by <TwitterLink username="coredo9" />, I love the baseball outfit and rendering!! This is my current desktop wallpaper :3
  </ArtWithDesc>
  <ArtWithDesc src={i2022_01_pfp} title="wow same as the main page">
  Comm by <TwitterLink username="jknor719" />, first pfp that I commissioned. Fun fact: for all intents and purposes this is the official PolyWolf color palette.
  </ArtWithDesc>
  <ArtWithDesc src={i2021_12_shadow} title="originally i wanted to draw a snowy background for this one too but it's hard, blurry one for the other was made using skills acquired during the failed attempt at this one">
  My current phone background, commissioned from <TwitterLink username="BokuRikuz" />. Man I just love the lighting on this piece!
  </ArtWithDesc>
  <ArtWithDesc src={i2021_06} title="wowow backgrounds">
  I did this one! It's me, stretching on a beach, under an umbrella. This was my second time drawing backgrounds.
  </ArtWithDesc>
  <ArtWithDesc src={i2020_12} title="for this and the other i manually posed to get the proportions roughly right">
  The one where I tried to decide on a name. Because 'PolyWolf' was supposed to be for the older one, but after trying out this Japanese name (bonus points if u can read the Katakana) I decided just to have PolyWolf be my name too :)
  </ArtWithDesc>
  <p>...and I don't really want to show any earlier ones since the reference has changed a lot, and I was <em>much</em> worse at art too :P. If you do really want to see <i>everything</i>, see <a href="https://www.deviantart.com/p0lyw0lf/gallery/78254173/polywolf" rel="noopener" target="_blank">my deviantart gallery</a>.</p>
  <h3>NSFW "Current" PolyWolf</h3>
  <ArtWithClickthrough src={i2022_08_dakimakura} artist="AllanelArt">PolyWolf dakimakura style!</ArtWithClickthrough>
  <ArtWithClickthrough src={i2022_07_legs_spread} artist={false}>I did this one! Fully clothed, but the angle is uh ;)</ArtWithClickthrough>
  <ArtWithClickthrough src={i2022_06_collar} artist="Nyapii2">saucy lingerie ;)</ArtWithClickthrough>
  <ArtWithClickthrough src={i2022_03_lewd} artist="R_ev60">saucy swimsuit ;)</ArtWithClickthrough>
  <h2>"Original" PolyWolf</h2>
  <p>These are references for the original "PolyWolf" I doodled and decided to make into a username. These pieces have aged much better lol</p>
  <ArtWithDesc src={i2018_04} title="it's (young?) me!">
    mwah. just look at that polygonal goodness. I still absolutely adore this pfp, what a great color scheme and design (if I do say so myself).
  </ArtWithDesc>
  <ArtWithDesc src={i2017_12_desktop} title="wowow doin a run">
    A lot of my newer backgrounds also had this 'thick outline on a solid bg' look, idk what it is but I really like it
  </ArtWithDesc>
  <ArtWithDesc src={i2017_12_mobile} title="Both this and the previous image were 'traced' from photos of actual wolves, but artistically converted into polygons">
    And this was the mobile background at the time. I think ever since this I have always had PolyWolf art as my desktop/phone bg, which is really cool and also a great motivator for me to get better at art
  </ArtWithDesc>
</Page>