---
import Page from "../../templates/page.astro";

const posts = (await Astro.glob("./*.mdx"))
  .filter((post) => !post.frontmatter.draft)
  .map((post) => {
    return {
      url: post.url,
      title: post.frontmatter.title,
      direct_link: post.frontmatter.direct_link,
      date: post.file.split(/[\\/]/).pop().slice(0, 10),
    };
  });
// Alphabetic ordering of dates "just works" thanks to how they're formatted 😎
posts.sort((post1, post2) => (post1.date > post2.date ? 1 : -1)).reverse();

// Hack: get Astro to escape this properly on its own
const description =
  'A list of links that PolyWolf has curated to be "cool" and under the vauge collection of having to do with computer security';
---

<Page title="Cybersecurity" {description}>
  <p>NONE OF THIS CONTENT IS MY OWN</p>
  <p>
    This is a list of links that I've been posting to a random Discord channel
    for a cybersecurity class I was in. The server is fairly inactive (but ppl
    still read the channel!) and keeping things exclusively on Discord is bad,
    so I wrote a <a href="https://github.com/p0lyw0lf/crossposter">Discord
    bot</a> that mirrors activity in the channel to this page and a <a
    href="https://infosec.exchange/@PolyWolf">Mastodon account</a>.
  </p>
  <nav class="cybersecnav">
    {
      posts.map((post) => (
        <div class="cybersecnav-item">
          {post.date}: <a href={post.url}>{post.title}</a> (
          <a href={post.direct_link}>source</a>)
        </div>
      ))
    }
  </nav>
</Page>
