---
import type { BlogData } from "../../data/blog";
import { toShortISODate } from "../../data/date";
import { toTagUrl } from "../../data/url";

interface Props {
  data: BlogData;
}

const { data } = Astro.props;
---

{toShortISODate(data.published)}: <a href={data.url}>{data.title}</a>
{
  data.tags.length > 0 && (
    <small>
      {data.tags.map((tag) => (
        // NOTE: using <TagLink /> doesn't let Astro introspect & apply the CSS styles here...
        <>
          <a href={toTagUrl(tag)}>#{tag}</a>{" "}
        </>
      ))}
    </small>
  )
}

<style>
  small a {
    color: var(--color-text-secondary-accent);
  }
</style>
